title {
  display: none;
}

body {
  background-color: lightcyan;
  color: black;
}

.inv {
  display: none;
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: black;
}

h2 {
  text-align: left;
  color: black;
}

/*division on top*/
.topDiv {
  border: 5px outset wheat;
  background-color: lightblue;
  display: left;
  text-align: center;
}

/*calendar styles*/
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.calendar {
  position: relative;
  display: inline-block;
}

.floormap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  transform-origin: bottom-right;
  transform: scale(0.5);
}

