title {
  display: none;
}

body {
  background-color: lightcyan;
  color: black;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: black;
}

h2 {
  text-align: left;
  color: black;
}

/*division on top*/
.topDiv {
  border: 1px outset pink;
  background-color: whitesmoke;
  display: left;
  padding: 5px;
}

/*calendar styles*/
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.calendar {
  position: relative;
  display: inline-block;
}

.floormap1{
  transform: scale(0.7);
}

.floormap2{
  float:right;
  transform: scale(0.7);
}

/* The Modal (background) */
.modal {
  display: none;  /*Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-div {
  margin: 8% auto; /* 10% from the top and centered */
  overflow: hidden;
  height: 380px;
  border-radius: 5px;
  width: 500px; /* Could be more or less, depending on screen size */
}
.modal-content {
  margin-top: 20px;
  border-radius: 5px;
  color: black;
  background-color: beige;
  margin-top: 0px;
  height: 100%;
  width: 100%; /* Could be more or less, depending on screen size */
}
.modal-p-title {
  font-size: 14pt;
  padding: 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: bisque;
  text-align: center;
}
/* The Close Button */
.btn-close {
  color: #aaa;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
}
.close:focus,
.close:hover{
  color: #aaa;
  text-decoration: underline;
  cursor: pointer;
}